@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&display=swap');

.height-25 {
    height: 25vh;
}

.ff-anton {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

.f-invert {
    filter: invert(1);
}

.image-size {
    height: 80%;
}

.offcanvas-img {
    width: 7.5vw;
}

.bg-image {
    width: 75%;
}

@media (max-width: 768px) {

    .ff-anton {
        font-size: 3.5rem;
    }

    .image-size {
        height: 65%;
    }
}

@media (max-width: 576px) {
    .ff-anton {
        font-size: 2.5rem;
    }

    .image-size {
        height: 60%;
    }

    .height-25 {
        height: 20vh;
    }
}